@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2e2f36, #3a3b47);
}

.calculatrice {
    padding: 20px;
    border: 1px solid #717377;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
}

.calculatrice div {
    display: flex;
    justify-content: center;
}


input {
    width: 320px;
    border: none;
    padding: 25px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    border-radius: 15px;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: 1px solid #ffffff;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    color: #ffffff;
    background: transparent;
    font-size: 20px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

button:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.2);
}


.equalbtn {
    background-color: #fb7c14;
}

.operation {
    color: #6dee0a;
}



